MedicalIS_client/target/
MedicalIS_server/target/
shared_lib/target/

MedicalIS_client/.settings/
MedicalIS_server/.settings/
shared_lib/.settings/

MedicalIS_client/.project
MedicalIS_server/.project
shared_lib/.project

MedicalIS_client/.classpath
MedicalIS_server/.classpath
shared_lib/.classpath